<header class="masthead">
  <div class="container">
    <div class="intro-text">
      <div class="intro-lead-in">MASHAPP</div>
      <div class="intro-heading text-uppercase">Search Music Your Way</div>
      <a class="btn btn-primary btn-xl text-uppercase js-scroll-trigger" href="#about">Tell Me More</a>
    </div>
  </div>
</header>
